.contentWhrapper {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;

    display: grid; /*componente um ao lado do outro*/
    grid-template-columns: 1fr 453px;
    column-gap: 120px;
    position: relative;
}